Project : <%= @project.name %><br>
Build Status : <%= @build.status %><br>
Build Page URL : <%= project_build_path(:project_name => @project.name, :build_number => @build.number) %>

<% unless @build.change_list.blank? %>
  <p>
    Diff:<br>

    <%= @build.change_list %>
  </p>
<% end %>
